.slider-label{
    font-size: 2em;
    text-align: center;
    line-height: 62px;
    vertical-align: middle;
}
.module-admin-list-true, .module-admin-list-false{
}
.module-admin-list-true{
    color: blue;
}
.module-admin-list-false{
    color: green;
}
.rubric-color-explanation{
    text-align: center;
}
.rubric-line-format-label{
    text-align: center;
}
textarea.import-rubrics-data-input{
    height: 100%;
}